<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hk.shop.repository.CartRepository">

	<insert id="addCart" parameterType="CartDto" keyProperty="cart_id"
	useGeneratedKeys="true">
		insert cart (cart_id, member_id, reg_time, created_by)
		values(NULL,#{member_id}, sysdate(),#{email});
	</insert>

	<insert id="addCartItem" parameterType="Map">
		INSERT INTO cart_item (cart_item_id, COUNT,cart_id, item_id, reg_time, created_by)
		VALUES(NULL, #{count}, #{cart_id}, #{item_id}, sysdate(), #{email})
	</insert>
	
	<select id="getCart" parameterType="Long" resultType="CartDto">
		select cart_id, member_id
		from cart
		where member_id = #{member_id}
	</select>
	
	<select id="getCartItem" parameterType="CartItemDto" resultType="CartItemDto">
		select cart_item_id, count, cart_id, item_id
		from cart_item
		where cart_id=#{cart_id} and item_id=#{item_id}
	</select>
	
	<update id="addCount" parameterType="CartItemDto">
		update cart_item set count = #{count} , update_time = sysdate()
		where cart_item_id = #{cart_item_id}
	</update>
</mapper>


